body {
    background-image: url("img/bgi.jpg");
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

html {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.page_title {
    background-color: rgba(0, 0, 0, 0.774);
    color: greenyellow;
    font-size: 2.7rem;
    position: absolute;
    height: 30vh;
    width: 40vw;
    z-index: 42;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title_text {
    font-family: 'VT323', monospace;
    animation: slide 5s linear forwards infinite;
  }

  @keyframes slide {
    from {
      transform: translateX(40vw);
    }
  
    to {
        transform: translateX(-40vw);
    }
  }

  .music {
      display: none;
  }

  .uberparent,
  .parent,
  .card_content {
      height: 300px;
      margin: 0;
      padding: 0;
  }

  .cover,
  .cover>img {
      height: 200px;
      margin: 0;
      padding: 0;
  }

  .info,
  .name {
      height: 50px;
      padding: 0;
  }

  .info {
      margin-bottom: 50px;
  }

  .picture,
  .content_p {
      height: 135px;
  }

  .picture {
      margin-bottom: 15px;
  }

  .parent {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 42;
  }

  .name {
      font-size: 2rem;
      font-family: 'VT323', monospace;
      background-color: rgba(0, 0, 0, 0.623);
      color: greenyellow;
  }

  .uberparent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
  }

  .parent,
  .card_content {
      position: absolute;
  }

  .content_p {
      display: flex;
      align-items: center;
      margin: 0;
      font-family: 'VT323', monospace;
      color: rgb(139, 39, 79);
      font-size: 1.3rem;
  }

  .card_content {
      z-index: -42;
      opacity: 0;
      background-color: #2ED3CC;
      padding: 15px;
      transform: rotate3d(0,1,0,180deg);
      border: 5px solid #FD78AD;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 10px 10px 12px -6px black;
  }

  .turnTopCard {
     opacity: 0;
     z-index: -42;
     transform: rotate3d(0,1,0,180deg);
     transition: all 1s;
  }

  .turnBottomCard {
      opacity: 1;
      z-index: 42;
      transform: rotate3d(0,1,0,360deg);
      transition: all 1s;
  }

.game_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_over_screen {
    background-color: black;
    height: 90vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vh;
    overflow: hidden;
    position: relative;
    display: none;
}

.game_over_text {
    color: red;
    background-color: yellow;
    border: 3px solid red;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    height: 20vh;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'VT323', monospace;
    animation: pulse 1s linear 10ms infinite normal forwards;
}

@-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.btn_start_again_container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_start_again_container>.try_again_btn {
    border: 2px solid red;
    background-color: yellow;
    color: red;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'VT323', monospace;
}

.game_background {
    background-color: black;
    height: 90vh;
    width: 90vw;
    overflow: hidden;
    position: relative;
}

.rocket_container {
    position: absolute;
    height: 8vh;
    width: 6vw;
    margin-top: 42vh;
    margin-left: 20vw;
    display: flex;
    align-items: center;
    
}

.rocket_container>img {
    height: 8vh;
    width: 5vw;
    transform: rotate(90deg);
}

.bullet {
    height: 4px;
    width: 4px;
    background-color: red;
    opacity: 0;
}

.meteor_container {
    position: absolute;
    height: 90vh;
    width: 62vw;
    left: 6vw;
    padding: 0;
}

.meteor {
    height: 4px;
    width: 4px;
    background-color: white;
    position: absolute;
    right: 0;
}

@keyframes meteorMove {
    from {
      transform: translateX(0);
      display: block;
    }
  
    to {
        transform: translateX(-92vw);
        display: none;
    }
  }

.meteor_move {
    animation: meteorMove 5s linear 100ms 1 normal forwards;
}

@keyframes bulletMove {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    99% {
        transform: translateX(92vw);
        opacity: 1;
    }
  
    100% {
        transform: translateX(92vw);
        opacity: 0;
    }
  }

.fire {
    animation: bulletMove 3s linear 100ms 1 normal forwards;
}