body {
    background-image: url("img/bgi.jpg");
    padding: 0;
    margin: 0;
    max-width: 100vw;
}

html {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif_container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.page_title {
    background-color: rgba(0, 0, 0, 0.774);
    color: greenyellow;
    font-size: 2.7rem;
    position: absolute;
    height: 30vh;
    width: 40vw;
    z-index: 42;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title_text {
    font-family: 'VT323', monospace;
    animation: slide 5s linear forwards infinite;
  }

  @keyframes slide {
    from {
      transform: translateX(40vw);
    }
  
    to {
        transform: translateX(-40vw);
    }
  }

  .music {
      display: none;
  }